﻿/*
Theme Name: Muzeu
Theme URI: http://vblok.com/
Author: the WordPress team
Author URI: http://wordpress.org/
Description: The 2011 theme for WordPress is sophisticated, lightweight, and adaptable. Make it yours with a custom menu, header image, and background -- then go further with available theme options for light or dark color scheme, custom link colors, and three layout choices. Twenty Eleven comes equipped with a Showcase page template that transforms your front page into a showcase to show off your best content, widget support galore (sidebar, three footer areas, and a Showcase page widget area), and a custom "Ephemera" widget to display your Aside, Link, Quote, or Status posts. Included are styles for print and for the admin editor, support for featured images (as custom header images on posts and pages and as large images on featured "sticky" posts), and special styles for six different post formats.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: muzeu
*/

*{padding:0;margin:0;outline:0;}
img{border-style:none;}
body{
	background:#e7db9f;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color:#404040;
}
.wrapper{
	max-width:1080px;
	height:auto; 
	margin:0 auto;
	background:#fff;
	box-shadow:0px 0px 15px;
}
.header{
	background:url('images/muzeu_header.jpg') no-repeat;
	width:100%;
	height:96px;
	}
#logo{
	float:left;
	background:url('images/muzeu_logo.png') no-repeat;
	width:310px;
	height:100px
}	
.main-content{
	width:100%;
	height:472px;
}
.content{
	float:left;
	width:759px;
	height:441px;
	background:url('app/Loading.gif');
	margin:15px;
	clear:both;
}
.main-content-pages{
	width:100%;
	height:auto;
}
.content-pages{
	float:left;
	width:759px;
	padding:20px;
	clear:both;
}
.content-pages *{
	margin-top:10px;
}
.sidebar{
	float:left;
	width:276px;
	min-height:441px;
	margin-top:15px;
}
.sidebar #eksponata{
	width:100%;
	height:130px;
}
.sidebar #fushata{
	width:100%;
	height:130px;
	margin-top:10px;
}
.sidebar #poll{
	width:100%;
	min-height:162px;
	background:#e7db9f;
	margin-top:10px;
	font-size:0.9em;
}
#poll ul{
	list-style:none;
}
#poll h4{
	background:#9d7621;
	color:white;
	padding:5px;
}
#poll a{
	text-decoration:none;
	color:black;
	font-size:0.7em;
}
.footer{
	width:100%;
	height:232px;
	clear:both;
}
.footer-content{
	max-width:1051px;
	height:214px;
	background:#e7db9f;
	margin:0 auto;
}
#news{
	background:#9d7621;
	width:100%;
	height:42px;
	color:white;
}
#news h3{
	padding: 9px 0 0 20px;
	float: left;
	font-size: 16px;
	display:none;
}
.top-links{
	float:left;
	margin:55px 0 0 15px;
}
.top-links ul{
	list-style:none;
}
.top-links ul li{
	display:block;
	float:left;
	margin:7px;
}
.top-links ul li a{
	text-decoration:none;
}
.top-links ul li a:hover{
	color:#9d7621;	
}
#lang{
	float:right;
	margin:60px 5px 0 0;
}

/*WP STUFF*/
input[type="submit"]{
	padding:10px;
	background:#e7db9f;
	border-radius:5px;
	font-weight:bold;
	color:#9d7621;
	margin-top:0px;
}
input[type="submit"]:hover{
	padding:10px;
	background:#9d7621;
	color:#e7db9f;
}
#respond{
	margin-top:40px;
}
#respond a{
	text-decoration:none;
	color:black;
}
#respond a:hover{
	text-decoration:underline;
}
#respond input[type="text"]{
	max-width:500px;
	padding:10px;
	color:#424242;
	border-radius:10px;
}
#respond textarea{
	max-width:500px;
	padding:10px;
	color:#424242;
	border-radius:10px;
}
#respond h3{
	background:#9d7621;
	padding:5px 0 5px 20px;
	color:#f8f8f8;
	width:500px;
	border-radius:5px;
}
.slideshowlink{
	display:none;
}
.widget_slideshow{
	margin-top:20px;
	clear:both;
	padding-bottom:30px;
}
.widget_slideshow h3{
	display:none;
}
.fc-header *{
	margin:0;
}
#wp-calendar *{
	padding:7px;
	margin-top:20px;
}
.nocomments{
	display:none;
}
.footer-links ul{
	list-style:none;
	font-size:0.96em;
}
.footer-links .menu .menu-item{
	float:left;padding:25px 0 0 65px;
}
.footer-links .menu .menu-item .sub-menu .menu-item{
	float:none;padding:0px 0px 0px 15px;
}
.footer-links a{
	text-decoration:none;
	color:#404040;
}
.footer-links ul li a{
	font-weight:bold;
}
.footer-links .menu .menu-item .sub-menu .menu-item a{
	font-weight:normal;
}
.footer-links .menu .menu-item .sub-menu .menu-item a:hover{
	text-decoration:underline;
}
.saw_msg{
	margin-left:20px;
	margin-top:10px;
}
ul.saw_msg li span a{
	text-decoration:none;
	color:#f8f8f8;
}
#announcements{
	float:left;
}
#social-icons{
	float: right;
	margin-right:30px;
	margin-top:2px;
}


/*Responsive structure*/
@media only screen and (max-width: 320px){
	.content-pages p,h1,h2,h3,h4{
		width:270px;
	}
	.sidebar{
		margin:0 20px;
	}
	.content{
		width:320px;
		height:200px;
		margin:0 10px 10px;
		background:none;
		display:none;
	}
	.content img{
		width:300px; 
		height:200px;
	}
	.main-content{
		width:320px;
	}
	.wrapper{
		width:320px;
		background:#e7db9f;
		box-shadow:none;
		overflow-x:hidden;
	}
	#news{display:none;}
	#logo{
		width:300px;
		height:100px;
		background-size:300px 70px;
	}
	.top-links{display:none;}
	#lang{margin-top:-50px;}
	.menu-item{margin-bottom:10px;}
	#respond textarea{max-width:250px;}
	#respond h3 {width:250px;}
	.fc-border-separate[style]{width:250px !important;}
	.ngg-galleryoverview{width:250px !important;}
	.ngg-slideshow{width:290px !important; height:200px !important;}
	.ngg-slideshow img[style]{width:290px !important; height:200px !important;}
}

@media only screen and (max-width: 480px) and (min-width: 321px){
	.content-pages p,h1,h2,h3{
		width:420px;
	}
	.sidebar{
		margin:0 20px;
	}
	.content{
		width:480px;
		height:200px;
		margin:0 10px 10px;
		background:none;
		display:none;
	}
	.content img{
		width:430px; 
		height:200px;
	}
	.main-content{
		width:480px;
	}
	.wrapper{
		width:480px;
		background:#e7db9f;
		box-shadow:none;
		overflow-x:hidden;
	}
	#news{display:none;}
	#logo{
		width:430px;
		height:100px;
		background-size:300px 70px;
	}
	.top-links{display:none;}
	#lang{margin-top:-50px;}
	.menu{width:320px;}
	.menu-item{margin-bottom:10px;}
	#respond textarea{max-width:400px;}
	#respond h3 {width:400px;}
	.fc-border-separate[style]{width:400px !important;}
	.fc-header-center{display:none;}
	.ngg-galleryoverview{width:400px !important;}
	.ngg-slideshow{width:400px !important; height:300px !important;}
	.ngg-slideshow img[style]{width:400px !important; height:300px !important;}
}

@media only screen and (max-width: 600px) and (min-width: 481px){
		.content-pages p,h1,h2,h3{
		width:500px;
	}
	.sidebar{
		margin:0 20px;
	}
	.content{
		width:600px;
		height:200px;
		margin:0 10px 10px;
		background:none;
		display:none;
	}
	.content img{
		width:430px; 
		height:200px;
	}
	.main-content{
		width:600px;
	}
	.wrapper{
		width:600px;
		background:#e7db9f;
		box-shadow:none;
		overflow-x:hidden;
	}
	#news{display:none;}
	#logo{
		width:550px;
		height:100px;
		background-size:300px 70px;
	}
	.top-links{margin-top:-43px;}
	#dc_jqmegamenu_widget-3-item ul li a{padding:5px 5px !important;font-size:0.8em;}
	#lang{margin-top:-50px;}
	.menu{width:550px;}
	.menu-item{margin-bottom:10px;}
	#respond textarea{max-width:500px;}
	#respond h3 {width:500px;}
	.fc-border-separate[style]{width:550px !important;}
	.fc-header-center{display:none;}
	.ngg-galleryoverview{width:550px !important;}
	.ngg-slideshow{width:550px !important; height:450px !important;}
	.ngg-slideshow img[style]{width:550px !important; height:450px !important;}
}
